extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug

  h3 Group admin panel
 
  br
  br

  .container-fluid
    .row-fluid
      .span3
      if ( user.profile.role === "admin" )
        h4 #{user.group} Admin:


      .col
        p got here
      each useritem in user
        .col
          .row
            h2
              span 123 

      p got here
