footer
  .container.text-center
    p.float-left © 2020 Umatiportal
    a(href='https://scdhub.org') SCD Hub
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/terms') Terms of Service
      li.list-inline-item
        a(href='/privacy') Privacy Policy
      li.list-inline-item
        a(href='https://github.com/sustainablecommunitydevelopmenthub/umatiportal') Code
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Upstream
      li.list-inline-item
        a(href='https://opensource.guide/') Opensource
      li.list-inline-item
        a(href='/games/si') Arcade
      li.list-inline-item
        a(href='/games/pong') Pong
