footer
  .container.text-center
    p.float-left ©2020 
      a(href='https://scdhub.org') SCD Hub
      span -   
      a(href='https://etiny.portal.xyz') Umatiportal
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/terms') Terms 
      li.list-inline-item
        a(href='/privacy') Privacy 
      li.list-inline-item
        a(href='https://scdhub.org/donate') Donate 
