a(href='/account/project') Project - 
a(href='/account/group') Groups - 
a(href='/account/research') Research - 
a(href='/account/activity') Accounting -  
a(href='/account/inventory') Resources - 
a(href='/account/blog') Blog 
hr
