var blogname = req.params.name
.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container
    a.navbar-brand(href='/blog/' + blogname)
    img(src="/lion.png",border="0")  
    h2 &nbsp;
      a(href='/blog/' + blogname) #{blogname}'s 
       span Blog
    a.navbar-brand(href='/')
      | &nbsp; 
      #{blogname}
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse

