extends layout

block content

  h3 December 17 2020

  p Umati Portal is a place for appropriate technology comparison.
    span We are a 
    a(href="https://github.com/SustainableCommunityDevelopmentHub/umatiportal") free software 
    span project of  
    a(href="https://scdhub.org") SCD Hub 
    span as is their 
    a(href="https://github.com/SustainableCommunityDevelopmentHub/hugo_site") website 
    span Where water and waste system solutions are curated 

  p Please 
    a(href='/contact') let us know your thoughts 
    span or email the editor at ecocommunity@protonmail.com 
    span Please use these links for 
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') bug reports 
    span &  
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') source code
    span .
 
  .home-hero

    .feature
      h3 Managing Shared Resources
      p Umati portal provides proposal writing assistance 
        span by maintaining 
        span a technical solutions database for 
        a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') Sustainable Community Development Hub

    .special
      h3 Resource Awareness
      p The human-ecological relationship is governed by how we use water. Water connects us to the land, food, energy, and one another.
    .amazing
      h3 Free Software
      p Free as in freedom. 
          a(href="https://www.github.com/sustainablecommunitydevelopmenthub/umatiportal/archive/master.zip") Download 
    .news
      h2 Water   
      p Umati portal focus is common wastewater and sewage, municipal solid waste, and drinking water supply challenges.  
    .cta
    .drinkingwater
      h2 Drinking Water   
    .wastewater
      h3 Wastewater & Sewage   
    .solidwaste
      h2 Municipal Solid Waste  

  .row
    .col-md-12
      p
        b Current SCD Clinic: 
        i The Lifecycle of Water 
        span in association with UNM Peace Engineering's ECHO Water Project

  .row
    .col-md-6
      p
      h2 Toward a better understanding of engineering systems
      p Since we all depend upon civil infrastructure, we have a moral responsibility to one another to help ensure that it does not fail. 

      p By definition, umati is inlusive, transparent, efficient, locally relevant, and bridges many aspects of culture, prescedent, and appropriateness.  Our current research emphasis is the assessment of drinking water, wastewater, and municipal solid waste technologies. 
    .col-md-6
      p
      h2 Appropriate Technology
      p Umati Portal's primary goal is to assist SCD Hub with the development of its knowledgebase and to assist more people in contrinuting useful information to that project, such that it may help in decision making in community projects.  The SCD Clinic format for appropriate technology discussions can provide a regular hands on learning opportunity for underserved communities. 
        a(href="/clinic/getstarted") start an SCD Clinic yourself.
      p
      if (!user) 
        li.hideli
          a.button.btn.btn-primary.spam-button(href='/signup') Get Started
    .col-md-6
      h2 Using our software
      p Umati Portal is a flexible open source software package which can be downloaded and changed to fit your own needs.  We maintain this live site both as a demo, training tool for group, and to support the ongoing work of SCD Hub's design clinics, mentoring program, management, communications & transparency for partner community projects worldwide.  
    .col-md-6
      h2 Water systems
      p As we learn more about water, we begin to see it as a living resource.  Water issues are complex and challenging.  Watershed planning begs the question.. "Can we increase watershed capacity? ie. re-foresting, erosion reduction, urban plantings, reduction of heat island effects.  Yes we can.

      .row
        .col-md-12
      hr
      h2 Photo Credits
      p Smile and water photos by Alawai at 
      p Abacus photo by Moonlightway at 

      ul
        li
          a(href='https://morguefile.com/creative/Alawai') Alawai
        li
          a(href='https://morguefile.com/creative/Moonlightway') Moonlightway
 
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Welcome #{user.profile.name}
                 if !user.project
                   span Please ensure that you have a project or group defined in settings

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
