extends layout

block content
  h1 Welcome
  p Oct 2 2020.  Umati Portal is testing a new blog content manager feature.   Use cases centered around resarching approaches to common problems at the community level.  Our current efforts target improving resource inventory, food security, research and creative project support via 
    a(href='https://scdhub.org/clinic/curate/') SCD clinics.  
    span Please 
    a(href='/contact') let us know your thoughts 
    span or email the editor at ecocommunity@protonmail.com 
    span Please use these links for 
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') bug reports 
    span &  
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') source code
    span .
 
  .home-hero
    .feature
      h3 Defining the commons
      p Umati portal supports resource management groups with an inventory system as part of your free account.  Traning clinics are an outgrowth of related resource discussions. 

    .special
      h3  Resource Aware
      p The human-ecological relationship is governed by how we use water. Water connects us to the land, food, and energy.
    .amazing
      h4 How can community development be sustainable?
      p SCD Hub works on this question by curating an index of sustainable solutions. It is not nearly yet exhaustive or complete.  We could use help.
    .news
      h4 Research Projects
      p Umati takes your privacy and best practices in web security very seriosly. 
    .cta
      p 
      p 
      h1 SCD Clinics
      p 
  .row
    .col-md-10 

      h3 Regenerative economics principals >> long-term success
      p Social enterprise
      hr  
      p
  .row
    .col-md-6 
      h2 Tools for 
      ul
        li 
          a(href='/roadmap') Roadmap & vision
        li 
          a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal/archive/master.zip') Download our free software
      if (!user) 
        p
          a.button.btn.btn-success.spam-button(href='/signup') Create a free account
        p
          a.button.btn.btn-secondary.spam-button(href='/signupproject') Track a project
        p
          a.button.btn.btn-primary.spam-button(href='/signupresearch') Document your research
      if (user) 
        p welcome, #{user.name}
        li
          a.button.btn.btn-secondary.spam-button(href='/account/signupproject') Start a project
        li
          a.button.btn.btn-primary.spam-button(href='/account/signupresearch') Do research
    .col-md-6
      h2 Researching options
      p At the heart of Umati is our desire to see local businesses thrive. periodic checkins on goals keeps things on track.  Umatiportal is designed to suppot internal review within groups and expose locally maintainable technologies. 
    .col-md-6
      h2 Appropriate technology
      p Umati Portal's primary goal is to assist SCD Hub with the development of its knowledgebase and to assist more people in contrinuting useful information to that project, such that it may help in decision making in community projects.
    .col-md-6
      h2 Water systems
      p As we learn more about water, we begin to see it as a living resource.  Water issues are complex and challenging.  Watershed planning begs the question.. "Can we increase watershed capacity? ie. re-foresting, erosion reduction, urban plantings, reduction of heat island effects.  Yes we can.

      .row
        .col-md-12
      hr
      h2 Photo Credits
      p Smile and water photos by Alawai at 
      p Abacus photo by Moonlightway at 

      ul
        li
          a(href='https://morguefile.com/creative/Alawai') Alawai
        li
          a(href='https://morguefile.com/creative/Moonlightway') Moonlightway
 
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Welcome #{user.profile.name}
                 if !user.project
                   span Please ensure that you have a project or group defined in settings

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
