extends layout

block content

  h1 Welcome #{blogname}
  p Nov 6 2020.  Umati Portal is currently testing new website & project management and project tools.  This portal is designed to support SCDHub's mission "... to provide trustworthy development & training tools to facilitate project planning, design & execution. "  Find out more about Echo Water, and SCD Clinics 
    a(href='https://scdhub.org/clinic/curate/') here.  
    span Please 
    a(href='/contact') let us know your thoughts 
    span or email the editor at ecocommunity@protonmail.com 
    span Please use these links for 
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') bug reports 
    span &  
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') source code
    span .
 
  .home-hero
    .feature
      h3 Managing Shared Resources
      p Umati portal provides proposal writing assistance 
        span by maintaining 
        span a technical solutions database for 
        a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') Sustainable Community Development Hub

    .special
      h3 Resource Awareness
      p The human-ecological relationship is governed by how we use water. Water connects us to the land, food, energy, and one another.
    .amazing
      h4 Our software build
      p SCD Hub is re-architectinig its library of technical solutions such that it can be managed collaboratively via this site. Common wastewater and sewage, municipal solid waste, and drinking water supply challenges are being .  
      a(href="https://www.github.com/sustainablecommunitydevelopmenthub/umatiportal/archive/master.zip") download our code.
    .news
      h2 Water   
      p Join us in creating a world class library of water engineering solutions.
    .cta
  .row
    .col-md-10 

  .row
    .col-md-6
      p
      h2 Research
      p Researching projects together helps groups form goals and develop focus. Community development issues are organized in 
        a(href='/roadmap') SCD Hub's educational video library database.

      p By definition, umati is inlusive, transparent, efficient, locally relevant, and bridges many aspects of culture, prescedent, and appropriateness.  Our current research emphasis is the assessment of drinking water, wastewater, and municipal solid waste technologies.
    .col-md-6
      h2 Appropriate Technology
      p Umati Portal's primary goal is to assist SCD Hub with the development of its knowledgebase and to assist more people in contrinuting useful information to that project, such that it may help in decision making in community projects.  The SCD Clinic format for appropriate technology discussions can provide a regular hands on learning opportunity for underserved communities.  You can 
        a(href="/clinic/getstarted") start an SCD Clinic yourself.
      p
      if (!user) 
        li.hideli
          a.button.btn.btn-primary.spam-button(href='/signup') Get Started
    .col-md-6
      h2 Water systems
      p As we learn more about water, we begin to see it as a living resource.  Water issues are complex and challenging.  Watershed planning begs the question.. "Can we increase watershed capacity? ie. re-foresting, erosion reduction, urban plantings, reduction of heat island effects.  Yes we can.

      .row
        .col-md-12
      hr
      h2 Photo Credits
      p Smile and water photos by Alawai at 
      p Abacus photo by Moonlightway at 

      ul
        li
          a(href='https://morguefile.com/creative/Alawai') Alawai
        li
          a(href='https://morguefile.com/creative/Moonlightway') Moonlightway
 
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Welcome #{user.profile.name}
                 if !user.project
                   span Please ensure that you have a project or group defined in settings

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
