extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h2  Human Rights Focused Efforts at Umati Portal

    p 


    p Urban Slums and COVID-19


    ul  
      ol "Kibera slum is facing an acute situation with the loss of work by many of its breadwinning residents."




      p.span  ecocommunity@protonmail.com
