doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title Umati Portal - #{title} page
    link(rel='manifest', href='/manifest.webmanifest')
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    if (title === 'Group status') 
        link(rel='stylesheet', href='https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css' + user._id )
    if (title === 'Public blog' || title === 'Public blog page' ) 
        link(rel='stylesheet', href='/api/css/' + user._id )
    if (title === 'Edit site page' ) 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css')
        link(rel='stylesheet', href='https://uicdn.toast.com/editor/latest/toastui-editor.min.css')
    if (title === 'Settings') 
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css')
    if (title === 'Create post' || title === 'Edit blog entry' ) 
        link(rel='stylesheet', href='/css/richtext.css')
    if (title === 'Pong') 
        link(rel='stylesheet', href='/css/pong.css')
    if (title === "Messages Business" || title === "Messages Trash Removed" || title === "Messages Trash List" || title === "Messages Important" || title === "Messages Tags" || title=== "Messages Totrash" || title === "Messages Trash" || title === "Messages Drafts" || title === 'Messages' || title === 'Messages Sent' || title === 'Compose Message' || title === 'Messages of Inspiration' || title === 'Messages shared for group Inspiration')
        link(rel='stylesheet', href='/css/read-email.css')
    if (title === 'Dataview1')
        link(rel="stylesheet", type="text/css", href="https://bossanova.uk/jexcel/v4/jexcel.css")
        link(rel="stylesheet", type="text/css", href="https://bossanova.uk/jexcel/v4/jsuites.css")
    link(rel='stylesheet', href='/css/bootstrap-table.min.css')
    link(rel='stylesheet', href='/css/bootstrap4-fs-modal.min.css')
    block head

  body
    if (typeof(user) !== 'undefined')
      include partials/header
    else
      include partials/publicheader


    .container

      include partials/flash
      block content

    include partials/footer


    script(src='//code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    script window.jQuery || document.write('<script src="js/vendor/jquery-3.5.1.min.js"><\/script>')



    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
    script(src='/js/ihavecookies.options.js')
    script(src='/js/jquery.ihavecookies.min.js')

    if (title === 'Account Ledger')
         script(src='/js/lib/bootstrap-table.min.js')

    //script(src='/js/lib/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')

    if (title === 'Create post' || title === 'Edit blog entry' )
         script(src="/js/jquery.richtext.js")
         script.
           $('#post').richText();

    if (title === 'Dataview1') 
       script(src="https://bossanova.uk/jexcel/v4/jexcel.js")
       script.
         var options = {
            minDimensions:[10,10],
            tableOverflow:true,
         }
         $('#spreadsheet').jexcel(options);)

    if (title === 'Location')
        // this is not being used.  Goal here is to use open streetmap
        link(rel="stylesheet", href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css")
        script(src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js")

    if (title === 'Group status') 
        script(src='https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js')

    if (title === 'forWard')
        script(src='/js/bcp.min.js')
        script(src='/js/bcp.en.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js')

    if (title === 'Pong') 
         script(src='/js/pong.js')

    script(src='/js/main.js')
    script(src='/js/tagsinput.js')
