extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h2  Umati Portal Roadmap

    p This page is being discussed in meetings with scdhub, but many elements are clear.


    p The goal of this project is to provide useful information as per SCD Hub's mission:


    ul  
      ol "To serve as a hub for sustainable community development in order to provide trustworthy development & training tools to facilitate project planning, design & execution.

      p.span  ecocommunity@protonmail.com
