extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom


    h3 Proposal Writing Starting Point
  form(id='proposalsignup-form', method='POST', action='/signup', onsubmit='if(document.getElementById(\'agree\').checked) { return true; } else { alert(\'Please indicate that you have read and agree to the Terms and Conditions and Privacy Policy\'); return false; }')

    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='proposal') Title of Proposal
      .col-md-7
        input.form-control(type='text', name='project', id='proposal', autofocus)

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Your name
      .col-md-7
        input.form-control(type='text', name='name', id='name', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', minlength='8', required)

      label.col-md-3.col-form-label.font-weight-bold.text-right(for='status') Phase of proposal
      .col-md-7
        .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='status', id='status', value='concept')
           label.form-check-label Initiation
        .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='status', id='status', value='planning')
           label.form-check-label Research
        .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='status', id='status', value='outreach')
           label.form-check-label Review
        .form-check.form-check-inline
           input(type='radio', class='form-check-input', name='status', id='status', value='fundraising')
           label.form-check-label Fundraising

      .col-md-3 
      .col-md-7
        input#agree(type='checkbox', name='checkbox', value='check')
        |  I have read and agree to the
        br
        a(href='/terms') Terms and Conditions
        |  and 
        a(href='/privacy') Privacy Policy




    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Signup
